@tailwind base;
@tailwind components;
@tailwind utilities;

/* 패딩으로 디브 크기 늘어나는거 막기 */
* {
    box-sizing: border-box;
}
/* 스크롤바 안보이게 하기 */
*::-webkit-scrollbar {
    display: none;
  }
/* 클릭 시 보더 제거 */
input:focus {
    outline: none;
}
/* 다크모드 */
.dark{
    color : #ffffff99;
    background-color : #080a0b;
}
/* 라이트모드 */
.light{
    /* color : #858C94; */
    color : #5f6061;
    /* background-color: #ffffff; */
    background-color: #ffffff;
}
/* 볼더 커스텀 */
.myBorder{
    border-top: 0.7px solid #47556950;
}
.myAllBorder-dark{
    border: 0.7px solid #7a7a7a;
}
.myAllBorder-light{
    border: 0.7px solid #47556950;
}
/* 일정 블럭 색 */
.red{ /* red-600 */
    background-color: #dc2626;
}
.rose{/* rose-400 */
    background-color: #fb7185;
}
.zinc{/* zinc-400 */
    background-color: #a1a1aa;
}
.blue{/* blue-400 */
    background-color: #60a5fa;
}
.orange{/* orange-500 */
    background-color: #f97316;
}
.yellow{/* yellow-400 */
    background-color: #facc15;
}
.fuchsia{/* fuchsia-400 */
    background-color: #e879f9;
}
.violet{/* violet-400 */
    background-color: #a78bfa;
}
.teal{/* teal-300 */
    background-color: #5eead4;
}
.green{/* green-500 */
    background-color: #22c55e;
}
.purple{/* purple-600 */
    background-color: #9333ea;
}
.lime{/* lime-500 */
    background-color: #84cc16;
}
/* 디브에 스크롤 기능 생성 */
.overflow-y-auto{
    overflow-y: auto;
}
.overflow-y-auto::-webkit-scrollbar {
    display: none;
}
/* 줄넘김 없애기 */
.no-wrap {
    white-space: nowrap;
}
  

@media screen and (min-width: 800px) {
    .Com-Header {
      height:100vh;
      width:15vw;
    }
    .Phone-Header{
        display : none;
    }
    /* .Body{
        height:100vh;
        width:85vw;
    } */
    .Body{
        height:100vh;
        width:100vw;
    }
    .App{
        display:flex;
        flex-direction:row;
    }
  }
  
/* 핸드폰 */
@media screen and (max-width: 800px) {
    .Com-Header {
        display : none;
    }
    .Phone-Header{
        height:8vh;
        width:100vw;
    }
    /* .Body{
        height:92vh;
        width:100vw;
    } */
    .Body{
        height:100vh;
        width:100vw;
    }
    .App{
        display:flex;
        flex-direction:column;
    }
}

/* 마크다운을위한 html테그 기본 스타일 되살리기 */
h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    font-weight: bold;
}

h5 {
    font-size: 0.83em;
    font-weight: bold;
}

u {
    text-decoration: underline;
}

s {
    text-decoration: line-through;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
    margin-left: 20px;
} 

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

i, em {
    font-style: italic;
}

/* 블랙 버전 */
/* blockquote {
    border-left: 4px solid #ddd;
    padding: 0 15px;
    background-color : #1e1e1e;
    color: #666;
    quotes: "\201C""\201D""\2018""\2019";
} */

/* 라이트모드 버전 */
blockquote {
    margin-left:5px;
    border-left: 10px solid skyblue !important;
    padding: 5px 5px 5px 15px;
    /* background-color : #F8F9FA;
    color : black; */
    background-color : inherit !important;
    color : inherit !important;
    quotes: "\201C""\201D""\2018""\2019";
    border-radius: 5px;
}

code {
    padding: 0 2px;
    background-color : inherit !important;
    color : inherit !important;
}



/* ----------CkEditor css---------- */
/* -----전체적용----- */
.ck{
    border : 0 !important;
}

/* -----최종 부모 컨테이너----- */
.ck-editor{
    width: 100% !important;
    height: 100% !important;
}

/* -----에디터 글쓰는 곳----- */
/* input div 부모 div */
.ck-editor__main{
    height: 96% !important;
    margin-top: 5px !important;
}
/* input div */
.ck-editor__editable{
    height: 100% !important;
    background-color : inherit !important;
}

/* -----에디터 툴바----- */
/* 툴바 부모 div */
.ck-editor__top{
    height: 3% !important;
}
/* 툴바 div */
.ck-toolbar_grouping{
    height: 100% !important;
    background-color : inherit !important;
} 
/* 에디터 툴바 툴 구분선 */
.ck-toolbar__separator{
    background-color : rgb(96,165,250) !important;
}
/* 툴바 아이콘 색 변경 */
.ck-icon_inherit-color :not([fill]){
    /* fill: white !important; */
    fill: rgb(96,165,250) !important;
}
/* 툴바 버튼 텍스트 */
.ck-button__label{
    color : rgb(96,165,250) !important;
}
/* 툴바 드롭다운 패널 */
.ck-dropdown__panel{
    background-color : rgb(224,242,254) !important;
    border : 0.1px solid rgb(96,165,250,20)  !important;
}
/* 툴바 드롭다운 안에 li */
.ck-list{
    background-color : inherit !important;
}

/* .language-plaintext{
    color : inherit
} */

/* -----에디터 누를시 밑에 광고바 뜨는거 제거----- */
.ck-body-wrapper{
    display : none !important;
}
